<h1><%= @student.first_name %> <%= @student.last_name %></h1>
<h4><%= link_to "Back to #{@student.with_teacher.last_name}", user_path(@student.with_teacher.id) %></h4>
<h2>Grade: <%= link_to "#{@student.teacher.department.name}", department_path(@student.teacher.department.id) %></h2>
<h2>Teacher: <%= link_to "#{@student.teacher.last_name}", user_path(@student.teacher.id) %></h2>
