<div class="white-card">
  <div class="profile-header">
    <div>
      <h1 class="teacher-name"><%= @user.teacher_name %></h1>
      <h4><%= link_to "#{@user.department.name}", department_path(@user.department.id) %></h4>
    </div>
    <%= image_tag @user.photo, alt: "Teacher photo", class: "avatar-large" %>
  </div>
</div>



<% if current_user == @user && current_user.department.grade %>
  <div class="white-card">
    <%= link_to "Take back your class", take_back_class_user_path(current_user.id), method: "patch", class: "btn btn-flat" %>

  <div class="dropdown-container">
    <input type="checkbox" id="drop" />
    <label for="drop">Give class to:</label>
    <ul class="content">
      <% @teachers.each do |teacher| %>
      <li><%= link_to "#{teacher.teacher_name}", give_class_to_user_path(teacher.id), method: "patch", data: { confirm: "Are you sure you want to give your class to #{teacher.teacher_name}?" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="dropdown-container">
    <input type="checkbox" id="drop" />
    <label for="drop">Dismiss all:</label>
    <ul class="content">
    <% current_user.department.school.dismissal_types.each do |dt| %>
      <li><%= link_to "#{dt.name}", dismiss_type_with_dismissal_type_path(dt.id), method: "patch" %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>

<% if @user.department.grade %>
  <%= render "shared/student-section" %>
<% end %>

<%= render "shared/visiting" %>


