<div class="white-card">
  <div class="profile-header">
    <div>
      <h1 class="teacher-name"><%= @user.teacher_name %></h1>
      <h4><%= link_to "#{@user.department.name}", department_path(@user.department.id) %></h4>
    </div>
    <%= image_tag @user.photo, alt: "Teacher photo", class: "avatar-large" %>
  </div>
</div>

<% if current_user == @user && current_user.department.grade %>
  <%= render "shared/class-actions" %>
<% end %>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= link_to "Classroom", user_classroom_path(@user, type: ClassroomsController::SHOW_DEFAULT, format: :js), remote: true, class: "btn btn-secondary active" %>
  <%= link_to "Dismissal", user_classroom_path(@user, type: ClassroomsController::SHOW_DISMISSAL, format: :js), remote: true, class: "btn btn-secondary" %>
</div>

<div data-classroom-view="true">
  <% if @user.department.grade %>
    <%= render "classrooms/students", user: @user %>
  <% else %>
    <%= render "classrooms/visiting", user: @user %>
  <% end %>
</div>