<div class="white-card">
  <div class="profile-header">
    <div>
      <h1 class="teacher-name"><%= @user.teacher_name %></h1>
      <h4><%= link_to "#{@user.department.name}", department_path(@user.department.id) %></h4>
    </div>
    <%= image_tag @user.photo, alt: "Teacher photo", class: "avatar-large" %>
  </div>
</div>

<% if current_user == @user && current_user.department.grade %>
  <%= render "shared/class-actions" %>
<% end %>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked>Classroom
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off">Dismissal
  </label>
</div>

<% if @user.department.grade %>
  <%= render "shared/student-section" %>
<% else %>
  <%= render "shared/visiting" %>
<% end %>

<%= render "shared/dismissal" %>



