<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Check if present:</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag take_attendance_students_path, method: :put do %>
          <ul>
            <% @user.students.each do |student| %>
              <li><h4><%= check_box_tag "student_ids[]", student.id %> <%= student.first_name %> <%= student.last_name %></h4></li>
            <% end %>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-flat" data-dismiss="modal">Close</button>
        <%= submit_tag "Submit", class: "btn-flat" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
