<h4><%= link_to "Back to Departments", departments_path %></h4>

<% if @department.grade %>
  <div class="white-card">
    <h2><%= @department.name %> Teachers:</h2>
    <div class="holder">
      <% @department.users.each do |teacher| %>
        <div class="thumbnail">
          <%= image_tag teacher.photo, alt: "Teacher Pic", class: "avatar-large" %>
          <p><%= link_to "#{teacher.teacher_name}", user_path(teacher.id) %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="white-card">
    <h2>Present <%= @department.name %> Students:</h2>
    <div class="holder">
      <% @department.students.each do |student| %>
        <% if student.present %>
          <div class="thumbnail">
            <%= image_tag student.photo, alt: "Student Pic", class: "avatar-large" %>
            <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></p>
            <% if current_user != student.with_teacher %>
              <p><%= link_to "Take #{student.first_name}", take_student_path(student.id), method: "patch" %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="white-card">
    <h2>Absent <%= @department.name %> Students:</h2>
    <div class="holder">
      <% @department.students.each do |student| %>
        <% if student.present == false %>
          <div class="thumbnail">
            <%= image_tag student.photo, alt: "Student Pic", class: "avatar-large" %>
            <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="white-card">
    <h2><%= @department.name %> Faculty:</h2>
    <div class="holder">
      <% @department.users.each do |teacher| %>
        <div class="thumbnail">
          <%= image_tag teacher.photo, alt: "Teacher Pic", class: "avatar-large" %>
          <p><%= link_to "#{teacher.teacher_name}", user_path(teacher.id) %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="white-card">
    <h2>Visiting:</h2>
    <div class="holder">
      <% @department.school.students.each do |student| %>
        <% if student.present && student.with_teacher.department == @department %>
          <div class="thumbnail">
            <%= image_tag student.photo, alt: "student picture", class: "avatar-large" %>
            <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id) %></p>
            <% if current_user != student.with_teacher %>
            <p><%= link_to "Take #{student.first_name}", take_student_path(student.id), method: "patch" %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
